:root {
	--theme-color: #33658A;
}

html,body {
	height: 100%;
}

body.login-page {
	background-color: var(--theme-color);
	font-size: 14px;
}

.brand {
	width: 100px;
	border-radius: 50%;
	margin: 40px auto;
	background-color: whitesmoke;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.brand img {
	width: 100%;
}

.card-wrapper {
	width: 100%;
	padding: 25px;
}

.card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.card.fat {
	padding: 10px;
}

.card .card-title {
	margin-bottom: 40px;
}

.form-control {
	border-width: 2.3px;
}

.form-group label {
	width: 100%;
}

.btn.btn-block {
	padding: 12px 10px;
}

.footer {
	margin: 20px 0 20px 0;
	color: #fff;
	text-align: center;
}

a:link {
	color: var(--theme-color);
}

a, a label {
	cursor: pointer;
}

.login-button {
	background-color: var(--theme-color) !important;
	color: #fff !important;
	margin: 20px 0 20px 0;
}

#invalid-username-feedback, #invalid-password-feedback {
	color: red;
	font-size: 12px;
	margin: 0 0 10px 0;
}

#username, #password {
	margin-bottom: 10px;
}

#login-success-msg {
	color: green;
	text-align: center;
}

.fa-info-circle {
	color: var(--theme-color);
}

.info-icon {
	position: relative;
}

.info-icon:hover .info-msg {
	display: block;
}

.info-msg {
	position: absolute;
	left: -2rem;
	top: -6rem;
	padding: 20px;
	width: 200px;
	text-align: center;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888;
	display: none;
}
  
.info-msg:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 80px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.info-msg:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 80px;
	border-color: #666 transparent transparent #666;
}